<%= filter_form_for filter do |form| %>
  <div class="row columns show-for-medium">
    <div class="filters__section filters__section--title">
      <div class="row">
        <div class="columns mediumlarge-6 large-8">
          <h3><%= t(".title") %></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns mediumlarge-6 large-4">
      <div class="filters__section text_filter">
        <fieldset>
          <legend class="mini-title"><%= t(".search") %></legend>
          <%= form.search_field :search_text_cont, label: false, placeholder: t(".search"), title: t(".search"), "aria-label": t(".search"), data: { disable_dynamic_change: true } %>
        </fieldset>
      </div>
    </div>

    <% if current_participatory_space.has_subscopes? %>
      <div class="columns mediumlarge-6 large-4 <%= " end" if !current_component.categories.any? %>">
        <div class="filters__section with_scope_filter">
          <fieldset>
            <legend class="mini-title"><%= t(".scope") %></legend>
            <% scopes = current_component.scope&.children || current_participatory_space.scope&.children || current_organization.scopes.top_level %>
            <%= form.select(:with_scope, scope_picker_options(scopes, form.object.send(:with_scope)), { label: false, include_blank: t("forms.scopes_picker.prompt", item_name: t(".scope").downcase) }, "aria-label": t(".scope"), data: { disable_dynamic_change: true }) %>
          </fieldset>
        </div>
      </div>
    <% end %>

    <% if current_component.categories.any? %>
      <div class="columns mediumlarge-6 large-4 end">
        <div class="filters__section with_category_filter">
          <fieldset>
            <legend class="mini-title"><%= t(".category") %></legend>
            <%= form.select(:with_category, filter_categories_values, { label: false, include_blank: t(".category_prompt") }, "aria-label": t(".category"), data: { disable_dynamic_change: true }) %>
          </fieldset>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row columns">
    <div class="filters__section">
      <button type="submit" class="button primary" aria-label="<%= t(".search") %>" aria-controls="projects-count projects" data-close>
        <%= t(".search") %>
      </button>
      <button type="reset" class="button clear"><%= t ".reset" %></button>
    </div>
  </div>
<% end %>
