
<div class="actions-panel bg-secondary">
  <%= cell("decidim/favorites/favorite_button", result, button_class: "link action-link", disable_tooltip: true) %>
</div>

<% if result.locations.any? %>
  <div class="actions-panel bg-secondary">
    <a href="#result_map" class="action-link">
      <span class="link-text"><%= t ".show_on_map" %></span>
      <%= icon "map-marker", role: "img", "aria-hidden": true %>
    </a>
  </div>
<% end %>

<% if result.commentable? %>
  <div class="actions-panel bg-secondary">
    <%= link_to "#comments", class: "action-link" do %>
      <span class="link-text"><%= t ".show_comments" %></span>
      <%= icon "question-answer-line", role: "img", "aria-hidden": true %>
    <% end %>
  </div>
<% end %>

<div class="actions-panel bg-secondary">
  <button id="openShareModal" type="button" class="link action-link" aria-controls="socialShare" aria-haspopup="dialog">
    <span class="link-text"><%= t ".share" %></span>
    <%= icon "share", role: "img", "aria-hidden": true %>
  </button>
</div>

<% if false %>
  <div class="actions-panel bg-secondary">
    <button type="button" class="link action-link">
      <%= icon "print", role: "img", "aria-hidden": true %>
      <span class="link-text"><%= t ".print" %></span>
    </button>
  </div>
<% end %>
