<div class="row column back-link">
  <%= link_to results_path, class: "action-link" do %>
    <%= icon "arrow-left", role: "img", "aria-hidden": true %>
    <span><%= t(".back_to_list") %></span>
  <% end %>
</div>

<div class="row column resource">
  <div class="row">
    <div class="columns small-12 medium-8">
      <div class="resource__main static__content">
        <h1><%= translated_attribute result.title %></h1>

        <div class="resource__info">
          <% if result.scope %>
            <div class="resource__info__item"><%= translated_attribute(result.scope.name) %></div>
          <% end %>
          <div class="resource__info__item">#<%= result.id %></div>
          <% if result.published? %>
            <div class="resource__info__item"><%= l(result.published_at.to_date, format: :decidim_short) %></div>
          <% end %>
          <% if result.category.present? %>
            <div class="resource__info__item">
              <% if result.category.parent %>
                <%= translated_attribute(result.category.parent.name) %> -
              <% end %>
              <%= translated_attribute(result.category.name) %>
            </div>
          <% end %>
        </div>

        <% if result.main_image && result.main_image.attached? %>
          <%= image_tag result.attached_uploader(:main_image).path, alt: translated_attribute(result.title), class: "resource-image" %>
        <% end %>
      </div>
    </div>

    <div class="columns small-12 medium-4">
      <div class="resource__aside resource__actions">
        <%= render partial: "result_actions", locals: { result: result } %>

        <%= render partial: "stats_box", locals: { geocoded_results: geocoded_result } %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="columns small-12 medium-8">
      <div class="resource__main resource__content static__content">
        <%= render partial: "show_result_body", locals: { result: result } %>

        <% if show_map? %>
          <div class="row column" id="result_map">
            <h2><%= t(".locations") %><h2>
          </div>
          <%= render partial: "decidim/accountability_simple/shared/map", locals: { geocoded_results: geocoded_result } %>
        <% end %>
      </div>

      <div class="resource__details">
        <%= attachments_for result %>

        <%# = render partial: "linked_resources" %>
      </div>
    </div>
  </div>
</div>

<%= comments_for result %>
