<p><%== translated_attribute result.summary %></p>

<div class="description">
  <%== decidim_sanitize(translated_attribute(result.description)) %>
</div>

<%== cell("decidim/tags/tags", result) %>
<%= cell "decidim/tags", result, context: { extra_classes: ["tags--result"] } %>

<div class="row">
  <%= render partial: "timeline", locals: { result: result } if result.timeline_entries.any? %>
</div>
