<div class="row accountability result-view">
  <div class="small-12 columns">
    <div class="row">
      <div class="mediumlarge-8 columns">
        <div class="section">
          <% if result.main_image && result.main_image.url %>
            <%= image_tag result.main_image.url, alt: translated_attribute(result.title), class: "hero-heading" %>
          <% end %>

          <%= render partial: "show_result_body", locals: { result: result } %>

          <div class="row">
            <%= render partial: "timeline", locals: { result: result } if result.timeline_entries.any? %>
          </div>

          <% if result.children.any? %>
            <%= render partial: "results_leaf", locals: {
              title: t(".subresults"),
              grid_classes: "small-up-1 medium-up-2",
              results: result.children.page(1).per(result.children_count),
              total_count: result.children_count
            } %>
          <% end %>
        </div>
      </div>
      <%= render partial: "stats_box", locals: { geocoded_results: geocoded_result } %>
    </div>

  </div>

  <%= render partial: "stats" %>

  <%= attachments_for result %>

  <%= comments_for result %>
</div>

<% if geocoded_result.any? %>
  <div class="row column" id="result_map">
    <h2><%= t(".locations") %><h2>
  </div>
  <%= render partial: "decidim/accountability_simple/shared/map", locals: { geocoded_results: geocoded_result } %>
<% end %>
