<div class="row accountability result-view">
  <div class="small-12 columns">
    <%= render partial: "decidim/accountability/results/nav_breadcrumb", locals: { category: result.try(:category) } %>
  </div>

  <div class="small-12 columns">
    <div class="row">
      <div class="mediumlarge-8 columns">
        <div class="section">
          <% if result.main_image && result.main_image.url %>
            <%= image_tag result.main_image.url, alt: translated_attribute(result.title), class: "hero-heading" %>
          <% end %>

          <h2 class="heading2"><%= translated_attribute result.title %></h2>

          <div class="description">
            <%== translated_attribute result.description %>
          </div>
          <%== cell("decidim/tags/tags", result) %>
          <%= cell "decidim/tags", result, context: { extra_classes: ["tags--result"] } %>

          <div class="row">
            <%= render partial: "timeline", locals: { result: result } if result.timeline_entries.any? %>
          </div>

          <% if result.children.any? %>
            <%= render partial: "results_leaf", locals: { results: result.children.page(1).per(result.children_count), total_count: result.children_count } %>
          <% end %>
        </div>
      </div>
      <%= render partial: "stats_box" %>
    </div>

  </div>

  <%= render partial: "stats" %>

  <%= attachments_for result %>

  <%= comments_for result %>
</div>
