<%
root_result = result
root_result = root_result.parent while root_result.parent
%>

<div class="row column back-link">
  <%= link_to results_path, class: "action-link" do %>
    <%= icon "arrow-left", role: "img", "aria-hidden": true %>
    <span><%= t(".back_to_list") %></span>
  <% end %>
</div>

<div class="row column resource">
  <div class="row">
    <div class="columns small-12 medium-8">
      <div class="resource__main static__content margin-bottom-0">
        <h1><%= translated_attribute result.title %></h1>

        <% if result.main_image && result.main_image.attached? %>
          <%= image_tag result.attached_uploader(:main_image).url, alt: translated_attribute(result.title), class: "resource__image" %>
        <% end %>
      </div>
    </div>

    <div class="columns small-12 medium-4">
      <div class="resource__aside">
        <div class="resource__actions">
          <%= render partial: "result_actions", locals: { result: result } %>
        </div>

        <%= render partial: "result_attributes", locals: { result: @result, root_result: root_result } %>

        <%= render partial: "stats_box", locals: { result: @result, root_result: root_result, geocoded_results: geocoded_result } %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="columns small-12 medium-8">
      <div class="resource__main resource__content static__content">
        <%= render partial: "show_result_body", locals: { result: result } %>

        <% if show_map? %>
          <div id="result_map" class="margin-top-3">
            <h2><%= t(".locations") %></h2>

            <%= render partial: "decidim/accountability_simple/shared/map", locals: { geocoded_results: geocoded_result } %>
          </div>
        <% end %>
      </div>

      <div class="resource__details">
        <%= attachments_for result %>

        <%# = render partial: "linked_resources" %>
      </div>
    </div>
  </div>
</div>

<%= comments_for result %>
