<h2 class="section-heading"><%= t(".title") %></h2>
<ol class="stepper stepper--vertical">
  <% result.timeline_entries.each_with_index do |timeline_entry, i| %>
    <li class="stepper__item<%= " stepper__item--active" if timeline_entry.active? %>">
      <div class="stepper__item__indicator">
        <span><%= i + 1 %></span>
      </div>
      <div class="stepper__item__label">
        <div class="stepper__item__label__date">
          <% if translated_attribute(timeline_entry.title)&.strip.empty? %>
            <%= human_range_time(timeline_entry.entry_date, timeline_entry.end_date) %>
          <% else %>
            <%= translated_attribute(timeline_entry.title) %>
          <% end %>
        </div>
        <h3 class="stepper__item__label__title">
          <%= translated_attribute timeline_entry.description %>
        </h3>
      </div>
    </li>
  <% end %>
</ol>
