<div class="row accountability">
  <div class="small-12 columns">
    <%= render partial: "nav_breadcrumb", locals: { category: category, result: nil } %>
  </div>
</div>

<%= render partial: "decidim/accountability_simple/shared/map", locals: { geocoded_results: geocoded_results } %>

<div class="row accountability">
  <div class="small-12 columns">
    <%= render partial: "filters_small_view" %>
    <div class="card card--secondary show-for-mediumlarge">
      <div class="record-filters">
        <%= render partial: "filters" %>
      </div>
    </div>
  </div>
</div>

<div class="row accountability">
  <div id="results" class="small-12 columns">
    <%= render partial: "decidim/accountability_simple/shared/results_parent", locals: { results: results, total_count: results.total_count } %>
  </div>
</div>

<%= javascript_include_tag("decidim/filters") %>
