<%= filter_form_for filter do |form| %>
  <div class="filters__section">
    <div class="filters__search">
      <div class="input-group">
        <%= form.search_field :search_text, label: false, class: "input-group-field", placeholder: t(".search") %>
        <div class="input-group-button">
          <button type="submit" class="button button--muted">
            <%= icon "magnifying-glass", aria_label: t(".search") %>
          </button>
        </div>
      </div>
    </div>
  </div>

  <%= scopes_picker_filter form, :scope_id %>

  <% if components.any? %>
    <div class="filters__section">
      <fieldset>
        <legend>
          <h6 class="heading6"><%= t(".component") %></h6>
        </legend>
        <%= form.select :component_id, components.map{ |c| [translated_attribute(c.participatory_space.title, c.participatory_space.organization), c.id] }, label: false, prompt: t(".component_prompt") %>
      </fieldset>
    </div>
  <% end %>

  <div id="categories_filter">
    <%= render partial: "categories_filter", locals: { form: form, categories: categories } %>
  </div>
<% end %>
