<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= title %></h2>
  </div>

  <div class="card-section">
    <div class="result-detail-items">
      <%= fields_for "component_details[details][#{blank_detail.to_param}]", blank_detail do |detail_form| %>
        <script type="text/template" class="decidim-template">
          <%= render "detail", form: detail_form, tabs_id: tabs_id_for_result_detail(blank_detail), editable: true, child_template_selector: "#result-detail-child-template-dummy" %>
        </script>
      <% end %>

      <div class="result-detail-items-list">
        <% @form.details.each_with_index do |detail, index| %>
          <%= fields_for "component_details[details][]", detail do |detail_form| %>
            <%= render "detail", form: detail_form, tabs_id: tabs_id_for_result_detail(detail), editable: true, child_template_selector: "#result-detail-child-template-#{index}" %>
          <% end %>
        <% end %>
      </div>
      <button class="button add-result-detail-item"><%= t(".add_detail") %></button>
    </div>
  </div>
</div>

<%= javascript_include_tag "decidim/accountability_simple/admin/results" %>
